@using MyChicken.ViewModel
@model OrderViewModel

@{
    ViewBag.Title = "Commandes";
}

<h2>Commandes</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryDate, new { @class="col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DeliveryDate,"{0:yyyy/MM/dd}", new { @class="form-control datepicker" })
            </div>
        </div>
        
        <table class="col-md-12 table table-striped">
            <caption></caption>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Amount)
                </th>
            </tr>   
            @for (var i = 0; i < Model.Products.Count; i++)
            {
                var control = "products_" + (i + 10) + "_";
                @*@Html.Partial("_OrderPartial", Model.Products[i])*@
                @Html.Hidden("products_Index", (i + 10))
                @Html.Hidden(control + "Id",Model.Products[i].Product.Id)
                @Html.Hidden(control+"Name", Model.Products[i].Product.Name)
                @Html.Hidden(control+"Amount", Model.Products[i].Product.Amount)
                <tr>
                    <td>@Html.DisplayFor(model => model.Products[i].Product.Name)</td>
                    <td>@Html.TextBox(control + "Quantity", Model.Products[i].Quantity,
                        new { @type = "number", @min = "0", @step = "1", @value = "0",  style="width:50px",
                            onkeyup = string.Format("calcul(this,'{0}','{1}')", Model.Products[i].Product.Amount, control + "QtyAmount") })</td>
                    <td>
                    @Html.TextBox(control + "QtyAmount", "", new { disabled = "disabled", style = "width:75px", @class = "total" })
                    </td>
                    
                </tr>
            }
            <tr>
                <td>Montant Total</td>
                <td></td>
                <td><strong><span id="totalamount"></span></strong></td>
            </tr>
        </table>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reserver" class="btn btn-default" style="width:150px" />
                </div>
            </div>

</div>
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Mes commandes", "MyList")
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function calcul(source, amount, destination)
        {
            var objDest = document.getElementById(destination);
            objDest.value = source.value * amount;
            calculateSum();
        }

        function calculateSum() {
            var sum = 0;
            $(".total").each(function () {
                if (!isNaN(this.value) && this.value.length != 0) {
                    sum += parseFloat(this.value);
                }
            });
            $("#totalamount").html(sum);
            console.log(sum);
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".total").each(function () {
                $(this).on("input propertychange paste change", function () {
                    calculateSum();
                });
            });
            $(".datepicker").datepicker({
                defaultDate: "+1d",
                minDate: 1,
                maxDate: "+1M",
                //dateFormat: 'dd/mm/yy',
                showOtherMonths: true,
                changeMonth: true,
                selectOtherMonths: true,
                required: true,
                showOn: "focus",
                altField: "#datepicker",
                closeText: 'Fermer',
                firstDay: 1,
                numberOfMonths: 1,
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'yy-mm-dd'
            });
            $.datepicker.setDefaults($.datepicker.regional["fr"]);

            function calculateSum() {
                var sum = 0;
                $(".total").each(function () {
                    if (!isNaN(this.value) && this.value.length != 0) {
                        sum += parseFloat(this.value);
                    }
                });
                $("#totalamount").html(sum);
                console.log(sum);
            }

        });

       
    </script>
}
