@model IEnumerable<MyChicken.Models.Order>

@{
    ViewBag.Title = "List";
}

<h2>Liste de vos commandes dernières commandes</h2>

<p>
    @Html.ActionLink("Nouvelle commande", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Date de commande
        </th>
        <th>
            Total
        </th>
        <th>
            Statut
        </th>
        <th>
            Détails
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItel => item.Statut)
            </td>
            <td>
                @Html.Partial("_OrderPartial", item.OrderProduct)
            </td>            
        </tr>
    }

</table>
