@model IEnumerable<MyChicken.ViewModel.MyListViewModel>
@{
    ViewBag.Title = "Mes commandes";
}

<h2>Liste de vos commandes dernières commandes</h2>
<hr />
<p>
    @Html.ActionLink("Nouvelle commande", "Index")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <table class="table table-bordered table-striped">
                    <tr><td>Date Commande</td><td>@item.OrderDate.ToShortDateString()</td></tr>
                    <tr><td>Date Livraison</td><td>@item.DeliveryDate.ToShortDateString()</td></tr>
                    <tr><td>Total</td><td>@item.Total</td></tr>
                    <tr><td>Statut</td><td>@item.Statut</td></tr>
                    <tr>
                        <td>Détails</td>
                        <td>
                            @foreach (var str in item.Details)
                            {
                                <div>@str</div>
                            }

                        </td>
                    </tr>
                </table>

            </div>
        </div>
    }
</div>
